@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'GT Pressura';
  src:
    url('/fonts/GT-Pressura-Extended-Medium.woff2') format('woff2'),
    url('/fonts/GT-Pressura-Extended-Medium.woff') format('woff'),
    url('/fonts/GT-Pressura-Extended-Medium.ttf') format('truetype'),
    url('/fonts/GT-Pressura-Extended-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Pressura';
  src:
    url('/fonts/GT-Pressura-Extended-Black.woff2') format('woff2'),
    url('/fonts/GT-Pressura-Extended-Black.woff') format('woff'),
    url('/fonts/GT-Pressura-Extended-Black.ttf') format('truetype'),
    url('/fonts/GT-Pressura-Extended-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-dark-green: #024834;
  --color-green: #85c441;
  --color-light-green: #cee074;
  --color-pink: #f7acbb;
  --color-cream: #fff6ec;
  --color-beige: #eae2cc;

  --font-sans: 'GT Pressura', sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html {
    @apply font-sans;
  }

  h1,
  .h1 {
    @apply text-[38px] leading-10.5 -tracking-[0.76px] font-black md:text-[64px] md:leading-15.5 md:-tracking-[1.28px];
  }

  h2,
  .h2 {
    @apply text-[40px] leading-10.5 -tracking-[0.8px] font-medium md:text-[64px] md:leading-15.5 md:-tracking-[1.28px];
  }

  h3,
  .h3 {
    @apply text-[32px] leading-8.5 -tracking-[0.64px] font-black md:text-5xl md:leading-11.5 md:-tracking-[0.96px];
  }

  h4,
  .h4 {
    @apply text-[22px] leading-6 -tracking-[0.44px] font-black md:text-[34px] md:leading-8.5 md:-tracking-[0.68px];
  }

  h5,
  .h5 {
    @apply text-[22px] leading-6 -tracking-[0.44px] font-medium md:text-[34px] md:leading-8.5 md:-tracking-[0.68px];
  }

  h6,
  .h6 {
    @apply text-base leading-4 font-black;
  }

  .text-button {
    @apply text-sm leading-4 font-black uppercase;
  }

  .text-body-small {
    @apply text-base leading-5.5 font-medium;
  }

  .text-body {
    @apply text-lg leading-6 font-medium md:text-xl;
  }

  .text-body-large {
    @apply text-[22px] leading-7 font-medium md:text-[26px] md:leading-8.5;
  }

  .text-display {
    @apply text-[52px] leading-13 -tracking-[1.04px] font-black md:text-[88px] md:leading-21.5 md:-tracking-[1.76px];
  }
}

@layer components {
  .button {
    @apply text-sm px-5 leading-4 font-black cursor-pointer uppercase min-h-10.5 bg-green text-dark-green rounded-lg border-none outline-none shadow-none flex items-center justify-center transition-all duration-300 ease-in-out hover:bg-light-green focus:bg-light-green;
  }

  .button-large {
    @apply text-[40px] leading-10.5 -tracking-[0.8px] min-h-25 normal-case font-medium cursor-pointer bg-green text-dark-green rounded-lg border-none outline-none shadow-none flex items-center justify-center transition-all duration-300 ease-in-out hover:bg-light-green focus:bg-light-green md:text-[64px] md:leading-15.5 md:-tracking-[1.28px] md:min-h-37.5 md:pt-10 md:pb-12;
  }

  .corner {
    @apply size-2;
  }

  .corner-top-left {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none"><path d="M0 8C0 3.58172 3.58172 0 8 0H0V8Z" fill="%23FFF6EC"/></svg>');
  }

  .corner-top-right {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none"><path d="M8 8C8 3.58172 4.41828 0 0 0H8V8Z" fill="%23FFF6EC"/></svg>');
  }

  .corner-bottom-left {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none"><path d="M0 0C0 4.41828 3.58172 8 8 8H0V0Z" fill="%23FFF6EC"/></svg>');
  }

  .corner-bottom-right {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none"><path d="M8 0C8 4.41828 4.41828 8 0 8H8V0Z" fill="%23FFF6EC"/></svg>');
  }
}
